:root{
    --šedá: #f2f2f2;
    --tmavá-modrá:#2f4858;
    --světlá-modrá:#86bbd8;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

/* GROW - Elemnent gets bigger on hover */
.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1);  
    cursor: context-menu;
}

:target { /* Aby Navbar nepřekrýval prvek ke kterému vede link */
    scroll-margin-top: 8.4vh;
}

body {
    position: relative; /* navbar bude mít position: sticky; */
    font-family: 'Montserrat', sans-serif;
    background:var(--šedá);
    font-size: 1.1rem;
    line-height: 1.5;
    overflow-x: hidden;
    
}

a {
    font-style: bold;
    text-decoration: none;
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: auto;
}

/* BUTTON */
.btn {
    animation: pulse 2s infinite;

	cursor: pointer;
	display: inline-block;
    
    border-radius: 10px; /*15px*/
    font-weight: bold;
    margin: 20px;
	
	background: var(--tmavá-modrá);
	color: var(--šedá);
    font-size: 1.6rem;

    height: 50px;
    width: 246px;
    padding: 5px 20px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}	
	70% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(0.95);
	}
}

.btn2 {
	cursor: pointer;
	display: inline-block;
    
    border-radius: 10px;
    font-weight: bold;
    margin: 20px;
	
	background: var(--světlá-modrá);
	color: var(--šedá);
    font-size: 1.6rem;

    height: 50px;
    width: 246px;
    padding: 0px 20px;
}

.btn3 {
	cursor: pointer;
	display: inline-block;
    
    border-radius: 10px;
    margin: 0.5vh;
	
	background: var(--tmavá-modrá);
	color: var(--šedá);
    

    height: 50px;
    width: 1146px;
    padding: 7px 20px;
}

/* MENU BTN */
.menu-btn {
	cursor: pointer;
	position: absolute;
	top: 10px; 
	right: 25px; 
    z-index: 2;  
    display: none;
} 

.menu-btn i {
    color: var(--světlá-modrá);
}

/* HEADER */
#header {
    position: sticky; /* sticky navbar + body musí mít position: relative; */
    top: 0px;

    width: 100vw;
    height: 8.5vh;

    display: grid;
    grid-template-columns: 1fr 2fr;
    
    /*display: grid;
    grid-template-columns: 1fr 2fr 1fr;*/
   
    background: var(--šedá);
    

    border-bottom: 1vh solid var(--světlá-modrá);
    box-shadow: 0px -5px 56px 0px rgba(0,0,0,0.49); /* https://www.cssmatic.com/box-shadow */
    z-index: 5;
}

/* BRANDING */
#branding {
    justify-content: center;
    padding-left: 25px;
    font-size: 1rem;
    color: var(--tmavá-modrá);   
}

#branding i {
    color: var(--světlá-modrá);
}

/* NAVBAR */
#navbar {
    height: 9vh;
    padding:0;
    margin: 0;
    
}

#navbar a {
    color: var(--tmavá-modrá);
    font-weight: bold;
}

#navbar ul {
    position: absolute; /* Aby bylo možné určit pozici nezávisle na .logo */ 
    display: flex;
    list-style: none;
    /*background: #86bbd8;*/
    height: 100%;
    width: 45vw;
    justify-content: space-between;
    align-items: center;
    

    /*left: 50%; /* odsazení 50% zleva */
    /*transform: translate(-50%); /* Aby byly prvky umístěny přesně na střed, vycentrování */
    /*padding-top: 0;
    /*justify-content: center;*/    
}

#navbar ul li {
    /*padding: 15px 25px 16px 25px; /*padding: zezhora zprava zespodu zleva*/
    padding: 0px 25px 0px 25px;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    
}

#navbar ul li:hover {   
    background: var(--světlá-modrá);
    height: 8.6vh;

}

#navbar ul li a {
    
}

/* NAVBAR */
#navbar-2 {
    display: none;
}

/* SHOWCASE */
#showcase {
    width: 100vw;
    height: 53vh;
    padding-top: 50px;
    background:url('./img/antarctica.jpg'); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
    text-align:center;
    color:var(--tmavá-modrá);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -150px;
}

#showcase h1 {
    font-size: 2.5rem;
}

/* PŘÍNOSY */
#prinosy {
    padding-top: 6vh;
    padding-bottom: 6vh;  
    background: var(--tmavá-modrá);
    width: 100vw;
    height: 92vh; /*79*/
}

#prinosy .boxes {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 6vh; /*20px*/
    /*justify-content: center;
    align-items: center;*/
}

#prinosy .boxes .boxes-1 { 
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 6vh;
}

#prinosy .boxes .boxes-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 6vh;
}

.boxes .box {
    position: relative; /* Aby při .grow prvky neprocházely přes sticky navbar */

    width: 30%;
    height: 35vh;
    text-align:center;
    
    color: var(--šedá);
    /*padding:10px;*/ 
}

.boxes .box i {
    font-size: 4rem;
    color: var(--světlá-modrá);
}

/* CITÁT-1 */
#citat-1 {
    height: 17vh;
    width: 100vw;
    padding-top: 5vh;
    background: var(--světlá-modrá);   
    
}

#citat-1 h3 {
    text-align:left;
    color: var(--tmavá-modrá);
    padding-left: 5vw;
}

#citat-1 p {
    text-align:right;
    color: #fff;
    padding-right: 5vw;
}

/* JAK ZAČÍT */
#jak-zacit {
    height: 75vh;
    padding-top: 5vh;
    
    color: var(--tmavá-modrá);
}

#jak-zacit h3 {
    padding-bottom: 2vh;
}

#jak-zacit .photo {
    text-align: right;
}

.photo img {
    height: 65vh;
    width: auto;
}

.box2 {
    display: flex;
    grid-gap: 5vh;
    
}

.box2 ul {
    padding-left: 5vh;
}

.highlight {
    font-weight: bold;
}

/* VÝZVA */
#vyzva {
    height: 69vh;
    padding-top: 5vh;
    line-height: 2;
    color: var(--šedá);
    text-align: center;
    background: var(--tmavá-modrá);
}

#vyzva h1 {
    color: var(--světlá-modrá);
    text-align: center;
    margin-top: -1rem;
}

#vyzva .app-photo {
    text-align: right;
}

.app-photo img {
    height: 59vh;
    width: auto;
}

#vyzva ul {
    text-align: left;
    padding-left: 2rem;
    padding-top: 1.2rem;
}

.box3 {
    display: flex;
    grid-gap: 5vh;

}

/* CITÁT-2 */
#citat-2 {
    height: 22vh;
    width: 100vw;
    padding-top: 5vh;
    background: var(--světlá-modrá);   
    
    
}

#citat-2 h3 {
    text-align:left;
    color: var(--tmavá-modrá);
    padding-left: 5vw;
}

#citat-2 p {
    text-align:right;
    color: #fff;
    padding-right: 5vw;
}

/* FAQ */
#FAQ {
    height: 79vh;
    padding-top: 5vh;

    background: var(--šedá);
    
    color: var(--tmavá-modrá);
}

#FAQ h3 {
    padding-bottom: 2vh;
}


#FAQ ul {
    padding-left: 5vh;  
}



#FAQ img {
    height: 82vh;
    width: auto;
}







/* FOOTER */
#footer {
    height: 13vh;
    width: 100vw;
    
    background: var(--tmavá-modrá); 
    padding-top: 5vh;
}

#footer i {
    color: var(--světlá-modrá);
}

#footer h3 {
    text-align:center;
    color: var(--šedá); 
}

/* -- MEDIA QUERIES -- */

@media(max-width: 1068px) {
    /* HEADER */
    #header {
        grid-template-columns: repeat(2, 1fr);
        box-shadow: none;
    }

    /* MENU-BTN */
	.menu-btn {
        display: block;
        color: #000;
	}

	.menu-btn:hover {
		opacity: 0.5;
    }

    /* NAVBAR */
    #navbar {
        display: none;
    }

    :target { /* Aby Navbar nepřekrýval prvek ke kterému vede link */
        scroll-margin-top: 50.4vh;
    }

    /* NAVBAR-2 */
    #navbar-2 {
        display: inline-block;
        position: fixed;
        width: 100%;
        height: 43vh;
        top: 8vh;
        z-index: 8;
        transform: translateX(150vh);
        transition: transform 0.5s ease-in-out;      
    }

    #navbar-2.show {
        transform: translateY(0);
    }

    #navbar-2 ul {
        padding-top: 2rem;
        list-style: none;
        height: 100%;
        background:var(--světlá-modrá);
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #navbar-2 ul li {
        background: var(--světlá-modrá);
        padding-top: 1.6vh;
        padding-bottom: 1.6vh;
    }

    #navbar-2 a {
        color: var(--tmavá-modrá);
        font-weight: bold;
    }

    #navbar-2 a:hover{
        color: var(--šedá);
    }

    /* SHOWCASE */
    #showcase {
        background-position: center 0px;
        padding-top: 20px;
        height: 42vh;
    }

    #showcase h1 {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    #showcase a {
        margin-top: 4rem;
    }

    .btn {
        display: none;
    }

    /* PRINOSY */
    #prinosy {
        height: 181vh; 
    }

    #prinosy .boxes {   
        grid-gap: 0px;
    }

    #prinosy .boxes .boxes-1 { 
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 0px;
        height: 105vh;
    }

    #prinosy .boxes .boxes-2 {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 0px;
        height: 70vh;
    }

    .boxes .box {
        width: 100%;
    }

    /* CITAT-1 */
    #citat-1 {
        padding: 1.2rem;
    }

    /* JAK ZACIT */
    #jak-zacit {
        height: 80vh;
    }
    
    #jak-zacit .photo {
        display: none;
    }

    /* VÝZVA */
    #vyzva {
        height: 70vh;
    }

    #vyzva .app-photo {
        display: none;
    }

    .box3 {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 0px;
    }

    /* CITAT-2 */
    #citat-2 {
        padding: 1.5rem;
    }

    #citat-2 p {
        margin-top: 0.5rem;
    }

    /* FAQ */
    #FAQ {
        height: 100vh;
    }
}

@media(max-width: 770px) {
	
    /* HEADER */
    #branding {
        padding-top: 0.5rem;
        font-size: 0.9rem;
    }

    /* SHOWCASE */
    #showcase h1 {
        margin: 0;
        font-size: 1rem;
    }

    /* CITAT-1*/
    #citat-1 {
        height: 21vh;
    }

    /* JAK ZACIT */
    #jak-zacit {
        height: 110vh;
    }

    /* VYZVA */
    #vyzva {
        height: 90vh;
    }

    /* CITAT-2*/
    #citat-2 {
        height: 35vh;
    }

    /* FAQ */
    #FAQ {
        height: 130vh;
    }
}


