.btn2 {
  cursor: pointer;
  display: inline-block;   
  border-radius: 10px;
  font-weight: bold;
  margin: 20px;
  background: $lightBlue;
  color: $grey;
  font-size: 1.6rem;
  height: 50px;
  width: 246px;
  padding: 0px 20px;
}