#citat-2 {
  height: 22vh;
  width: 100vw;
  padding-top: 5vh;
  background: $lightBlue; 
  h3 {
    text-align:left;
    color: $darkBlue;
    padding-left: 5vw;
  }
  p {
    text-align:right;
    color: #fff;
    padding-right: 5vw;
  }
}