#prinosy {
  padding-top: 6vh;
  padding-bottom: 6vh;  
  background: $darkBlue;
  width: 100vw;
  .boxes {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 6vh; 
    .boxes-1 { 
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 6vh;
    }
    .boxes-2 {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 6vh;
    }
    .box {
      position: relative; 
      width: 30%;
      height: 35vh;
      text-align:center;
      color: $grey;
      i {
        font-size: 4rem;
        color: $lightBlue;
      }
    }
  }
}